*{
    margin: 0;
    padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 body{
     background-image: linear-gradient(rgba(0,0,0,0.45),
     rgba(0,0,0,0.65)),url(logo/bg1.jpg );
       background-size:auto;
       background-position: center;
       background-repeat:repeat;
       width: 100vw;
       height: 100vh;
     }
     
 
 .available{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: black;
   
    
 }
 .available select{
   padding: 5px 25px;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
   margin: 4px 2px;
 
 }
 button{
   padding: 2px 22px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   margin: 4px 2px;
   background-color: black;
    color: aliceblue;
 }
 button:hover{
   background-color:rgb(143, 127, 159);
    color: black;
    transition: 0.5s;
 }


@media only screen and (max-width: 600px) {
  .available select {
      width: 100%;
  }
}